In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_excel("./exchange.xlsx")

In [15]:
# !pip install openpyxl

In [16]:
df

             时间    value
0    2024-12-06  7.28390
1    2024-12-05  7.26345
2    2024-12-04  7.27730
3    2024-12-03  7.29980
4    2024-12-02  7.28655
...         ...      ...
2323 2016-01-08  6.68320
2324 2016-01-07  6.68290
2325 2016-01-06  6.69590
2326 2016-01-05  6.64490
2327 2016-01-04  6.62910

[2328 rows x 2 columns]

In [17]:
# 确保时间列为 datetime 格式
df['时间'] = pd.to_datetime(df['时间'])

# 提取年月并格式化为 MM-YYYY
df['年月'] = df['时间'].dt.strftime('%m-%Y')

# 按年月分组，计算汇率平均值
monthly_avg = df.groupby('年月')['value'].mean().reset_index()

In [18]:
monthly_avg.to_csv("./exc_m.csv", encoding='utf-8', index=False)

In [19]:
monthly_avg

          年月     value
0    01-2016  6.616205
1    01-2017  6.858514
2    01-2018  6.429696
3    01-2019  6.796980
4    01-2020  6.931983
..       ...       ...
103  12-2020  6.525617
104  12-2021  6.373813
105  12-2022  6.979909
106  12-2023  7.150171
107  12-2024  7.282200

[108 rows x 2 columns]